// Primary colors
$bright_red: hsl(12, 88%, 59%);
$dark_blue: hsl(228, 39%, 23%);

// neutral colors
$Dark_Grayish_Blue: hsl(227, 12%, 61%);
$Very_Dark_Blue: hsl(233, 12%, 13%);
$Very_Pale_Red: hsl(13, 100%, 96%);
$Vary_Light_Gray: hsl(0, 0%, 98%);
